body{
    /* background: #320740; */
    background: linear-gradient(to bottom, rgba(21, 24, 44, 0.952), rgba(42, 13, 80, 0.952));
    /* background-image: url('assets/texture.png'); */
    /* background-image: linear-gradient(to bottom, rgba(33, 39, 71, 0.952), rgba(61, 19, 117, 0.952)),  */
    /* url('assets/fluid-bw.jpg'); */
    /* background-size: cover; */
    /* filter: hue-rotate(90deg); */
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

section{
    text-align: center; 
    width: 100%;
}

h1{
    text-align: center;
    font-family: monospace;
    font-size: 4em;
}
h3{
    font-family: Helvetica, sans-serif;
    font-weight: 200;
}
button{
    background: white;
    padding: .5em 1em;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: .8em;
}