body{
    background: linear-gradient(to bottom, rgba(21, 24, 44, 0.952), rgba(42, 13, 80, 0.952));
    color: white;
}

main{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

section{
    text-align: center; 
    width: 100%;
    height: fit-content;
}

#animations{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    margin: 0;
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 1.3em;
}

button{
    background: white;
    padding: .5em 1em;
    margin: 1em .5em;
    border-radius: 5px;
    font-size: .8em;
    display: block;
    z-index: 1;
    position: absolute;
}

.fade{
    animation: fadeOut .7s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}